<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuickSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickSearch.Properties.Settings>
            <setting name="SearchInTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchInUrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackColorOnError" serializeAs="String">
                <value>228, 160, 143</value>
            </setting>
            <setting name="FocusOnOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchInPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInGroupName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchExcludeExpired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInOther" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowQuickFind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackColorSearching" serializeAs="String">
                <value>204, 201, 145</value>
            </setting>
            <setting name="BackColorSuccess" serializeAs="String">
                <value>216, 233, 214</value>
            </setting>
            <setting name="BackColorNormalUnFocused" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackColorNormalFocused" serializeAs="String">
                <value>255, 255, 206</value>
            </setting>
            <setting name="ControlWidth" serializeAs="String">
                <value>200</value>
            </setting>
        </QuickSearch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
